:root {
    --icon-size: 20px;
    font-size: 12px;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"; */
}

body, html {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

* {
    border-radius: 0px !important;
}

.block-overlay {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
}

.wrapper {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #eee;
    display: flex;
}

.modes-panel {
    width: 30px;
    border-right: 1px solid #eee;
}

.account-panel {
    width: 200px;
    border-right: 1px solid #eee;
}

.files-panel {
    flex: 1;
    border-right: 1px solid #eee;
    width: 50%;
}

.account-control-panel {
    display: flex;
    height: 30px;
    border-bottom: 1px solid #eee;
}

.files-control-panel {
    display: flex;
    height: 30px;
    border-bottom: 1px solid #eee;
}

.files-list-wrapper {
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: calc(100% - 30px);
}

.files-list-wrapper_box {
    display: flex;
    min-height: min-content; /* needs vendor prefixes */
}

.files-list {
    text-align: left;
    border-right: 1px solid #eee;
    width: 200px;
    height: 100%;
    overflow-y: scroll;
}

.files-list .icon {
    padding: 3px;
}

.page-preview {
    flex: 1;
}

.wrapper > * {
    background: white;
}

.files-list-as-grid-wrapper {
    height: 100%;
}

.files-list-wrapper_grid-box-wrapper {
    overflow-y: scroll;
    height: 100%;
}

.files-list-wrapper_grid-box {
    display: flex;
    flex-wrap: wrap;
}

.files-list-wrapper_grid-box .list-group-item {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0,0,0,0.1) !important;
    padding: 3px;
}

.files-list-wrapper_grid-box .icon-wrapper {
    font-size: 30px;
    height: 40px;
}

.files-grid-control-panel {
    border-bottom: 1px solid #eee;
    display: flex;
}

.files-grid-control-panel .path {
    flex: 1;
    width: 100%;
}

.files-grid-control-panel .path-wrapper {
    display: flex;
    overflow: hidden;
}

.files-grid-control-panel .path-wrapper > * {
    padding: 5px;
}

.files-grid-control-panel .path-link {
    cursor: pointer;
    background: rgba(0,0,0,0.05);
    border-radius: 5px !important;
}

.files-grid-control-panel .path-link:hover {
    background: rgba(0,0,0,0.1);
}


.files-list-control-panel {
    border-bottom: 1px solid #eee;
    display: flex;
}

.files-list-control-panel .path {
    flex: 1;
    width: 100%;
}

.files-list-control-panel .path-wrapper {
    display: flex;
    overflow: hidden;
}

.files-list-control-panel .path-link {
    cursor: pointer;
    background: rgba(0,0,0,0.05);
    border-radius: 5px !important;
}

.files-list-control-panel .path-link:hover {
    background: rgba(0,0,0,0.1);
}


.files-list-control-panel .path-wrapper > * {
    padding: 5px;
}

.files-list-as-list-wrapper {
    height: calc(100% - 60px);
}

.files-list-wrapper_list-box {
    height: 100%;
    overflow-y: scroll;
}

.files-list-list {
    width: 100%;
    text-align: left;
}

.files-list-list .header {
    font-weight: bold;
}

.files-list-list .list-row {
    display: grid;
    grid-template-columns: 1fr 100px 150px 150px;
    cursor: pointer;
}

.files-list-list .list-row:hover {
    background: rgba(0,0,0,0.1);
}

.files-list-list .list-row > div {
    padding: 3px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    text-overflow: ellipsis;
}

.files-list-list  .filename-cell {
    display: grid;
    grid-template-columns: 20px 1fr;
}

.files-list-list  .title {
    text-overflow: ellipsis;
    padding: 3px;
}

.files-list-list .icon {
    padding: 3px;
}

.file-item {
    word-break: break-all;
}

.file-grid-item {
    display: grid;
    grid-template-rows: 100px 1fr;
    margin: 3px !important;
}

.file-grid-item .title {
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 50px;
}

.file-selected {
    background: green !important;
    color: white !important;
}

.page-preview {
    overflow: auto;
}

.code-preview {
    height: 100%;
    display: inline-block;
    text-align: left;
}

.code-preview .code {
    text-align: left;
    white-space: pre;
    max-width: 500px;
    word-break: break-all;
}

.image-preview img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}


.modal.show {
    display: block;
}

.modal-body {
    text-align: left;
}

.list-repo-item {
    display: grid;
    grid-template-columns: 1fr 100px;
    padding: 5px;
}

.modal-ask-api_list_buttons {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid #eee;
}

.modal-ask-api_list_buttons > div {
    gap: 5px;
    display: flex;
}

#modal-ask-api-key .form-label {
    width: 100%;
    text-align: left;
}

.list-repo-item:nth-child(2n) {
    background: rgba(0,0,0,0.1);
}

.list-repo-item:hover {
    background: rgba(0,0,0,0.2);
}

.list-repo-item_desc * {
    text-align: left;
    word-break: break-all;
}

.list-repo-item.active {
    background: blue;
    color: white;
}

.list-repo-item_title {
    display: flex;
}

.list-repo-item_type {
    background: green;
    color: white;
    padding: 5px;
}

.list-repo-item_name {
    background: grey;
    color: white;
    padding: 5px;
}

.blocker {
    position: absolute;
    background: rgba(0,0,0,0.2);
    top: 0px;
    bottom: 0px;
    left: 200px;
    right: 0px;
    z-index: 1000;
}

.loader {
    position: absolute;
    background: rgba(0,0,0,0.2);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
content: " ";
display: block;
width: 64px;
height: 64px;
margin: 8px;
border-radius: 50%;
border: 6px solid #fff;
border-color: #fff transparent #fff transparent;
animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}